<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
    <!--    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />-->
</head>

<body th:style="'background:url('+ @{/images/img.png} +');'">
<div class="container my-5">
    <h1 style="color:white;">Add Credit</h1>
    <div style="margin:0 auto;">

        <form action="#" th:action="@{/credit-admin/ui/add}" th:object="${user}" method="POST">
            <div class="row">
                <div class="form-group col-md-8">
                    <label for="name" class="col-form-label" style="color:white;">Name</label> <input type="text"
                                                                                                      th:field="*{name}"
                                                                                                      class="form-control"
                                                                                                      id="name"
                                                                                                      placeholder="Name">
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                </div>
                <div class="form-group col-md-8">
                    <label for="surname" class="col-form-label" style="color:white;">Surname</label> <input type="text"
                                                                                                            th:field="*{surname}"
                                                                                                            class="form-control"
                                                                                                            id="surname"
                                                                                                            placeholder="Surname">
                    <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="text-danger"></span>
                </div>
                <div class="form-group col-md-8">
                    <label for="identityNumber" class="col-form-label" style="color:white;">Identity Number</label>
                    <input type="text" th:field="*{identityNumber}" class="form-control" id="identityNumber"
                           placeholder="Identity Number"> <span th:if="${#fields.hasErrors('identityNumber')}"
                                                                th:errors="*{identityNumber}"
                                                                class="text-danger"></span>
                </div>
                <div class="form-group col-md-8">
                    <label for="salary" class="col-form-label" style="color:white;">Salary</label> <input
                        type="text" th:field="*{salary}" class="form-control" id="salary" placeholder="Credit Amount"> <span
                        th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"
                        class="text-danger"></span>
                </div>
                <div class="form-group col-md-8">
                    <label for="phoneNumber" class="col-form-label" style="color:white;">Phone </label> <input
                        type="text" th:field="*{phoneNumber}" class="form-control" id="phoneNumber" placeholder="Phone Number"> <span
                        th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"
                        class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <input type="submit" class="btn btn-danger" value="Add">
                </div>

                <div class="form-group col-md-8"></div>

            </div>
        </form>

    </div>
</div>
</body>

</html>